#demo {
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "YACgEcnJpjs 0", _fb_, auto;
  }
  .container {
    position: relative;
  }
  .ceri-title {
    position: absolute;
    width: 100%;
    left: 10%;
    text-align: center;
    top: 2%;
    font-size: 40px;
    font-weight: bold;
    color: rgb(14,69,115);
  }
  .ceri-into {
    position: absolute;
    left: 35%;
    top: 20%;
    color: rgb(14, 69, 115);
    font-family: "YACgEcnJpjs 0", _fb_, auto;
    font-weight: 400;
    font-size: 20px;
  }
  .ceri-name {
    position: absolute;
    left: 50%;
    top: 30%;
    color: rgb(51,213,172);
    font-weight: 700;
    font-size: 36px;
  }
  .ceri-name-small {
    position: absolute;
    left: 630px;
    top: 220px;
    color: rgb(51,213,172);
    font-weight: 700;
    font-size: 24px;
  }
  .info-text {
    position: absolute;
    left: 30%;
    top: 50%;
    font-size: 20px;
  }
  .slogan {
    position: absolute;
    left: 340px;
    top: 270px;
    font-size: 20px;
    font-weight: 700;
  }
  .weid {
    position: absolute;
    left: 540px;
    top: 270px;
    font-size: 20px;
    font-weight: 700;
  }
  .weid-text {
    position: absolute;
    width: 300px;
    left: 600px;
    top: 270px;
    font-size: 18px;
    word-wrap: break-word; 
    word-break: break-all; 
  }
  .slogan-text {
    position: absolute;
    left: 420px;
    top: 270px;
    font-size: 18px;
  }
  .price {
    color: red;
  }
  .encourage {
    position: absolute;
    left: 60%;
    top: 58%;
    font-size: 24px;
  }
  .signature {
    position: absolute;
    top: 68%;
    left: 31%;
    font-family: "YACgEcnJpjs 0", _fb_, auto;
    font-weight: 600;
    font-size: 20px;
  }
  .creator {
    position: absolute;
    top: 68%;
    left: 70%;
    font-family: "YACgEcnJpjs 0", _fb_, auto;
    font-weight: 600;
    font-size: 20px;
  }
  .signature-text {
    position: absolute;
    width: 180px;
    top: 75%;
    left: 23%;
    font-size: 16px;
    word-wrap: break-word; 
    word-break: break-all; 
  }
  .creator-text {
    position: absolute;
    width: 180px;
    top: 75%;
    left: 66%;
    font-size: 16px;
    word-wrap: break-word; 
    word-break: break-all; 
  }
  .type {
    position: absolute;
    width: 180px;
    top: 600px;
    left: 470px;
    font-size: 20px;
  }
  .time {
    position: absolute;
    top: 680px;
    left: 420px;
    font-size: 16px;
  }