#demo {
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "YACgEcnJpjs 0", _fb_, auto;
}
.container {
  position: relative;
}
.ceri-title {
  position: absolute;
  left: 500px;
  top: 50px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(14,69,115);
}
.ceri-into {
  position: absolute;
  left: 380px;
  top: 140px;
  color: rgb(14, 69, 115);
  font-family: "YACgEcnJpjs 0", _fb_, auto;
  font-weight: 400;
  font-size: 20px;
}
.ceri-into-eng {
  position: absolute;
  left: 380px;
  top: 180px;
  color: rgb(14, 69, 115);
  font-family: "YACgEcnJpjs 0", _fb_, auto;
  font-weight: 600;
  font-size: 20px;
}
.ceri-name {
  position: absolute;
  left: 560px;
  top: 210px;
  color: rgb(51,213,172);
  font-weight: 700;
  font-size: 36px;
}
.ceri-name-small {
  position: absolute;
  left: 630px;
  top: 220px;
  color: rgb(51,213,172);
  font-weight: 700;
  font-size: 24px;
}
.info-text {
  position: absolute;
  left: 340px;
  top: 340px;
  font-size: 20px;
}
.slogan {
  position: absolute;
  left: 340px;
  top: 270px;
  font-size: 20px;
  font-weight: 700;
}
.weid {
  position: absolute;
  left: 540px;
  top: 270px;
  font-size: 20px;
  font-weight: 700;
}
.weid-text {
  position: absolute;
  width: 300px;
  left: 600px;
  top: 270px;
  font-size: 18px;
  word-wrap: break-word; 
  word-break: break-all; 
}
.slogan-text {
  position: absolute;
  left: 420px;
  top: 270px;
  font-size: 18px;
}
.price {
  position: absolute;
  left: 670px;
  top: 336px;
  color: red;
  font-size: 24px;
}
.guli {
  position: absolute;
  left: 520px;
  top: 400px;
  font-size: 24px;
}
.signature {
  position: absolute;
  top: 490px;
  left: 282px;
  font-family: "YACgEcnJpjs 0", _fb_, auto;
  font-weight: 600;
  font-size: 20px;
}
.creator {
  position: absolute;
  top: 490px;
  left: 720px;
  font-family: "YACgEcnJpjs 0", _fb_, auto;
  font-weight: 600;
  font-size: 20px;
}
.signature-text {
  position: absolute;
  width: 180px;
  top: 532px;
  left: 240px;
  font-size: 16px;
  word-wrap: break-word; 
  word-break: break-all; 
}
.creator-text {
  position: absolute;
  width: 180px;
  top: 532px;
  left: 680px;
  font-size: 16px;
  word-wrap: break-word; 
  word-break: break-all; 
}
.type {
  position: absolute;
  width: 180px;
  top: 600px;
  left: 470px;
  font-size: 20px;
}
.time {
  position: absolute;
  top: 680px;
  left: 420px;
  font-size: 16px;
}